In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import json
import os

In [5]:
pop_df = pd.read_csv("Resources/SCPRC-EST2019-18+POP-RES.csv")
pop_df.head(2)

,SUMLEV,REGION,DIVISION,STATE,NAME,POPESTIMATE2019,POPEST18PLUS2019,PCNT_POPEST18PLUS
0,10,0,0,0,United States,328239523,255200373,77.7
1,40,3,6,1,Alabama,4903185,3814879,77.8

In [11]:
ks_nj_pop = pop_df.loc[(pop_df["NAME"] == "Kansas") | (pop_df["NAME"] == "New Jersey"),:]
ks_nj_pop = ks_nj_pop[["NAME", "POPESTIMATE2019", "POPEST18PLUS2019", "PCNT_POPEST18PLUS"]]
ks_nj_pop

          NAME  POPESTIMATE2019  POPEST18PLUS2019  PCNT_POPEST18PLUS
17      Kansas          2913314           2213064               76.0
31  New Jersey          8882190           6943612               78.2

In [12]:
ks_nj_pop.to_csv("Resources/ks_nj_populations.csv")